<a href="https://colab.research.google.com/github/anapaulads/Python_PretaLab_Ciclo14/blob/main/Mini_projeto_M%C3%B3dulo_4_Ciclo_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mini-projeto: Lidando com Bancos de Dados

Nesta tarefa, você deverá desenvolver um mini-projeto em Python utilizando SQLite3, colocando em prática os conceitos de criação e manipulação de dados em um banco relacional.


## Objetivo da atividade

* Verificar se você compreende como:

* Criar tabelas em SQLite;

* Inserir dados em um banco de dados;

* Consultar registros de diferentes formas;

* Atualizar informações já cadastradas;

* Excluir registros de uma tabela.

## Formato e Data de Entrega

**Você deve enviar o link para um Google Colab até o dia 28/09.**

## Critérios de avaliação

* Banco criado corretamente, com a estrutura definida.

* Inserção correta de pelo menos 50 registros.

* Consultas SQL funcionando.

* Atualizações realizadas corretamente.

* Exclusões funcionando sem erros.

* Organização e clareza do código.

## O que deve ser feito

### 1. Criar a tabela

* Nome: alunas.

* Colunas obrigatórias:

- id (inteiro, chave primária, autoincremento)

- nome (texto, obrigatório)

- email (texto, único, obrigatório)

- data_nascimento (data, obrigatório)

- data_cadastro (data/hora, com valor padrão atual).

In [10]:
import sqlite3

In [11]:
con = sqlite3.connect("alunas.db")
cur = con.cursor()

In [12]:
cur.execute('''
CREATE TABLE IF NOT EXISTS alunas(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome TEXT NOT NULL,
  email TEXT NOT NULL,
  data_nascimento DATE NOT NULL,
  data_cadastro TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
''')

con.commit()

### 2. Inserir registros

* Inserir pelo menos 50 alunas diferentes na tabela, preenchendo todos os campos obrigatórios.

In [13]:
pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.12/dist-packages (37.8.0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.12/dist-packages (from faker) (2025.2)

In [14]:
from faker import Faker
import random

In [15]:
fake = Faker('pt_BR')

for _ in range(55):
  nome = fake.name_female()
  email = fake.email()
  data_nascimento = fake.date_of_birth(minimum_age=18, maximum_age=80).strftime('%d-%m-%Y')

  cur.execute('''
  INSERT INTO alunas (nome, email, data_nascimento)
  VALUES (?, ?, ?)
  ''',
  (nome, email, data_nascimento))

con.commit()

### 3. Consultar registros

* Listar todas as alunas cadastradas com SELECT * FROM alunas.

* Consultar apenas alunas nascidas após o ano 2000.

* Consultar alunas filtrando pelo nome ou email (usando WHERE).

In [16]:
def consulta():
  print("Alunas: ")
  for row in cur.execute("SELECT * FROM alunas"):
    print(row)

In [17]:
consulta()

Alunas:
(1, 'Dra. Isabella Teixeira', 'rochavitor@example.net', '10-12-1959', '2025-09-26 01:57:22')
(2, 'Mirella Cardoso', 'benicio12@example.org', '03-01-1999', '2025-09-26 01:57:22')
(3, 'Eloah Cardoso', 'bernardobrito@example.net', '28-06-1979', '2025-09-26 01:57:22')
(4, 'Sra. Lavínia Costela', 'hgomes@example.net', '13-12-1964', '2025-09-26 01:57:22')
(5, 'Manuela Garcia', 'andradeisis@example.com', '06-06-1985', '2025-09-26 01:57:22')
(6, 'Stella Viana', 'anna-lizda-costa@example.org', '21-09-1948', '2025-09-26 01:57:22')
(7, 'Ágatha Aparecida', 'luigijesus@example.net', '18-02-1973', '2025-09-26 01:57:22')
(8, 'Gabriela da Mata', 'fernando13@example.com', '10-12-1972', '2025-09-26 01:57:22')
(9, 'Luiza Cassiano', 'ealves@example.net', '18-11-1949', '2025-09-26 01:57:22')
(10, 'Brenda Andrade', 'stephany26@example.org', '11-08-1946', '2025-09-26 01:57:22')
(11, 'Lara Vieira', 'marcos-vinicius53@example.com', '11-08-2007', '2025-09-26 01:57:22')
(12, 'Valentina Caldeira', 'luisalopes@example.org', '05-06-1999', '2025-09-26 01:57:22')
(13, 'Marina Macedo', 'joao-guilherme51@example.com', '19-11-1945', '2025-09-26 01:57:22')
(14, 'Bárbara Duarte', 'zabreu@example.com', '15-04-1951', '2025-09-26 01:57:22')
(15, 'Sra. Maria Luiza Barbosa', 'oaparecida@example.net', '13-11-1972', '2025-09-26 01:57:22')
(16, 'Sofia Brito', 'umendonca@example.com', '10-08-1945', '2025-09-26 01:57:22')
(17, 'Dra. Cecília Garcia', 'vianamaria-cecilia@example.com', '11-07-1956', '2025-09-26 01:57:22')
(18, 'Luara Cirino', 'garciaandre@example.com', '30-03-1979', '2025-09-26 01:57:22')
(19, 'Sra. Sophie da Rosa', 'amandaduarte@example.org', '31-05-1984', '2025-09-26 01:57:22')
(20, 'Jade Pires', 'joao-lucassantos@example.org', '12-12-1947', '2025-09-26 01:57:22')
(21, 'Joana Ramos', 'valentimrodrigues@example.org', '05-12-1976', '2025-09-26 01:57:22')
(22, 'Sra. Lorena Moraes', 'manuellamachado@example.net', '30-09-1965', '2025-09-26 01:57:22')
(23, 'Manuela Carvalho', 'nmoraes@example.com', '02-04-1967', '2025-09-26 01:57:22')
(24, 'Marina Gonçalves', 'uaraujo@example.net', '16-05-1959', '2025-09-26 01:57:22')
(25, 'Daniela Gomes', 'borgesluiz-otavio@example.org', '14-10-1963', '2025-09-26 01:57:22')
(26, 'Luara Guerra', 'sda-rocha@example.net', '03-04-1991', '2025-09-26 01:57:22')
(27, 'Maria Luiza Montenegro', 'anthony-gabrielpeixoto@example.com', '31-10-1987', '2025-09-26 01:57:22')
(28, 'Ana Sophia da Cruz', 'maiteduarte@example.org', '21-02-1980', '2025-09-26 01:57:22')
(29, 'Melissa Jesus', 'abreuesther@example.com', '26-05-1996', '2025-09-26 01:57:22')
(30, 'Clara Costela', 'kcasa-grande@example.com', '26-05-1988', '2025-09-26 01:57:22')
(31, 'Luísa Caldeira', 'juliasa@example.com', '27-12-1991', '2025-09-26 01:57:22')
(32, 'Sra. Allana Machado', 'vicentesilva@example.net', '08-07-1954', '2025-09-26 01:57:22')
(33, 'Maria Laura Costa', 'da-luzvinicius@example.com', '19-01-1945', '2025-09-26 01:57:22')
(34, 'Ana Pimenta', 'emanuellyramos@example.net', '24-07-1946', '2025-09-26 01:57:22')
(35, 'Dra. Joana Casa Grande', 'rrocha@example.com', '12-05-1989', '2025-09-26 01:57:22')
(36, 'Bella Rodrigues', 'zcastro@example.net', '21-05-2007', '2025-09-26 01:57:22')
(37, 'Brenda da Luz', 'salesolivia@example.com', '28-11-2006', '2025-09-26 01:57:22')
(38, 'Maria Aparecida', 'da-motaisis@example.com', '01-09-1949', '2025-09-26 01:57:22')
(39, 'Srta. Olivia Fernandes', 'fviana@example.org', '10-03-1953', '2025-09-26 01:57:22')
(40, 'Olivia Costela', 'mouranatalia@example.org', '05-11-1961', '2025-09-26 01:57:22')
(41, 'Gabriela Rocha', 'vitoriasouza@example.com', '03-06-2002', '2025-09-26 01:57:22')
(42, 'Maria Luiza Freitas', 'benicio04@example.net', '30-12-1948', '2025-09-26 01:57:22')
(43, 'Sra. Maitê Costa', 'juliana42@example.org', '02-10-1967', '2025-09-26 01:57:22')
(44, 'Luísa Lopes', 'moreiracecilia@example.net', '02-06-1969', '2025-09-26 01:57:22')
(45, 'Emanuella Mendonça', 'caua57@example.net', '09-02-1971', '2025-09-26 01:57:22')
(46, 'Sabrina Jesus', 'antony01@example.net', '26-03-1997', '2025-09-26 01:57:22')
(47, 'Yasmin Guerra', 'theocostela@example.com', '17-09-1960', '2025-09-26 01:57:22')
(48, 'Beatriz Moura', 'vbarros@example.com', '13-10-1997', '2025-09-26 01:57:22')
(49, 'Dra. Helena Correia', 'erick75@example.net', '17-03-2002', '2025-09-26 01:57:22')
(50, 'Bella Nogueira', 'cardosofernanda@example.net', '27-07-2002', '2025-09-26 01:57:22')
(51, 'Maya Guerra', 'giovannabarros@example.com', '21-04-1957', '2025-09-26 01:57:22')
(52, 'Maria Fernanda Camargo', 'smoreira@example.org', '03-02-2001', '2025-09-26 01:57:22')
(53, 'Maria Cecília Casa Grande', 'baragao@example.net', '09-09-1980', '2025-09-26 01:57:22')
(54, 'Bárbara Brito', 'kmarques@example.net', '04-06-1970', '2025-09-26 01:57:22')
(55, 'Dra. Lívia Cavalcanti', 'vasconcelosigor@example.org', '25-05-1999', '2025-09-26 01:57:22')

In [29]:
# Alunas nascidas após o ano 2000

for row in cur.execute("SELECT * FROM alunas WHERE substr(data_nascimento, 7, 4) > '2000'"):
  print(row)

(11, 'Lara Vieira', 'marcos-vinicius53@example.com', '11-08-2007', '2025-09-26 01:57:22')
(36, 'Bella Rodrigues', 'zcastro@example.net', '21-05-2007', '2025-09-26 01:57:22')
(37, 'Brenda da Luz', 'salesolivia@example.com', '28-11-2006', '2025-09-26 01:57:22')
(41, 'Gabriela Rocha', 'vitoriasouza@example.com', '03-06-2002', '2025-09-26 01:57:22')
(49, 'Dra. Helena Correia', 'erick75@example.net', '17-03-2002', '2025-09-26 01:57:22')
(50, 'Bella Nogueira', 'cardosofernanda@example.net', '27-07-2002', '2025-09-26 01:57:22')
(52, 'Maria Fernanda Camargo', 'smoreira@example.org', '03-02-2001', '2025-09-26 01:57:22')

Outra opção utilizando o Like

In [27]:
for row in cur.execute("SELECT * FROM alunas WHERE data_nascimento LIKE ? AND data_nascimento NOT LIKE ?", ("%-20%", "%-2000")):
  print(row)

(11, 'Lara Vieira', 'marcos-vinicius53@example.com', '11-08-2007', '2025-09-26 01:57:22')
(36, 'Bella Rodrigues', 'zcastro@example.net', '21-05-2007', '2025-09-26 01:57:22')
(37, 'Brenda da Luz', 'salesolivia@example.com', '28-11-2006', '2025-09-26 01:57:22')
(41, 'Gabriela Rocha', 'vitoriasouza@example.com', '03-06-2002', '2025-09-26 01:57:22')
(49, 'Dra. Helena Correia', 'erick75@example.net', '17-03-2002', '2025-09-26 01:57:22')
(50, 'Bella Nogueira', 'cardosofernanda@example.net', '27-07-2002', '2025-09-26 01:57:22')
(52, 'Maria Fernanda Camargo', 'smoreira@example.org', '03-02-2001', '2025-09-26 01:57:22')

In [32]:
# Alunas com email de organização

for row in cur.execute("SELECT * FROM alunas WHERE email LIKE ?", ("%.org",)):
  print(row)

(2, 'Mirella Cardoso', 'benicio12@example.org', '03-01-1999', '2025-09-26 01:57:22')
(6, 'Stella Viana', 'anna-lizda-costa@example.org', '21-09-1948', '2025-09-26 01:57:22')
(10, 'Brenda Andrade', 'stephany26@example.org', '11-08-1946', '2025-09-26 01:57:22')
(12, 'Valentina Caldeira', 'luisalopes@example.org', '05-06-1999', '2025-09-26 01:57:22')
(19, 'Sra. Sophie da Rosa', 'amandaduarte@example.org', '31-05-1984', '2025-09-26 01:57:22')
(20, 'Jade Pires', 'joao-lucassantos@example.org', '12-12-1947', '2025-09-26 01:57:22')
(21, 'Joana Ramos', 'valentimrodrigues@example.org', '05-12-1976', '2025-09-26 01:57:22')
(25, 'Daniela Gomes', 'borgesluiz-otavio@example.org', '14-10-1963', '2025-09-26 01:57:22')
(28, 'Ana Sophia da Cruz', 'maiteduarte@example.org', '21-02-1980', '2025-09-26 01:57:22')
(39, 'Srta. Olivia Fernandes', 'fviana@example.org', '10-03-1953', '2025-09-26 01:57:22')
(40, 'Olivia Costela', 'mouranatalia@example.org', '05-11-1961', '2025-09-26 01:57:22')
(43, 'Sra. Maitê Costa', 'juliana42@example.org', '02-10-1967', '2025-09-26 01:57:22')
(52, 'Maria Fernanda Camargo', 'smoreira@example.org', '03-02-2001', '2025-09-26 01:57:22')
(55, 'Dra. Lívia Cavalcanti', 'vasconcelosigor@example.org', '25-05-1999', '2025-09-26 01:57:22')

#### 4. Atualizar registros

* Alterar o email de pelo menos uma aluna.

* Atualizar o nome de uma aluna existente.

* Corrigir a data de nascimento de pelo menos uma aluna.

In [33]:
def atualiza_registro(campo, novo_valor, condicao):
  cur.execute(f"UPDATE alunas SET {campo} = ? WHERE {condicao}", (novo_valor,))
  con.commit()

In [39]:
for row in cur.execute("SELECT * FROM alunas WHERE id =2"):
  print("registro a ser atualizado;", row)

atualiza_registro("email", "aluna_pretalab@gmail.com", "id = 2")
print("Atualizando...")

for row in cur.execute("SELECT * FROM alunas WHERE id =2"):
  print("registro atualizado;", row)

registro a ser atualizado; (2, 'Mirella Cardoso', 'benicio12@example.org', '03-01-1999', '2025-09-26 01:57:22')
Atualizando...
registro atualizado; (2, 'Mirella Cardoso', 'aluna_pretalab@gmail.com', '03-01-1999', '2025-09-26 01:57:22')

Para atualizações em lote:

In [43]:
def atualizacao_lote(atualizar_dados):
  for campo, novo_valor, condicao in atualizar_dados:
    cur.execute(f"UPDATE alunas SET {campo} = ? WHERE {condicao}", (novo_valor,))
  con.commit()

In [46]:
atualizar_dados = [
    ("email", "pretalab@edu.com.br", "id = 1"),
    ("email", "stella@gmail.com", "nome = 'Stella Viana'"),
    ("email", "aluna_1946@gmail.com", "data_nascimento = 11-08-1946")
]

atualizacao_lote(atualizar_dados)

In [47]:
consulta()

Alunas:
(1, 'Dra. Isabella Teixeira', 'pretalab@edu.com.br', '10-12-1959', '2025-09-26 01:57:22')
(2, 'Mirella Cardoso', 'aluna_pretalab@gmail.com', '03-01-1999', '2025-09-26 01:57:22')
(3, 'Eloah Cardoso', 'bernardobrito@example.net', '28-06-1979', '2025-09-26 01:57:22')
(4, 'Sra. Lavínia Costela', 'hgomes@example.net', '13-12-1964', '2025-09-26 01:57:22')
(5, 'Manuela Garcia', 'andradeisis@example.com', '06-06-1985', '2025-09-26 01:57:22')
(6, 'Stella Viana', 'stella@gmail.com', '21-09-1948', '2025-09-26 01:57:22')
(7, 'Ágatha Aparecida', 'luigijesus@example.net', '18-02-1973', '2025-09-26 01:57:22')
(8, 'Gabriela da Mata', 'fernando13@example.com', '10-12-1972', '2025-09-26 01:57:22')
(9, 'Luiza Cassiano', 'ealves@example.net', '18-11-1949', '2025-09-26 01:57:22')
(10, 'Brenda Andrade', 'stephany26@example.org', '11-08-1946', '2025-09-26 01:57:22')
(11, 'Lara Vieira', 'marcos-vinicius53@example.com', '11-08-2007', '2025-09-26 01:57:22')
(12, 'Valentina Caldeira', 'luisalopes@example.org', '05-06-1999', '2025-09-26 01:57:22')
(13, 'Marina Macedo', 'joao-guilherme51@example.com', '19-11-1945', '2025-09-26 01:57:22')
(14, 'Bárbara Duarte', 'zabreu@example.com', '15-04-1951', '2025-09-26 01:57:22')
(15, 'Sra. Maria Luiza Barbosa', 'oaparecida@example.net', '13-11-1972', '2025-09-26 01:57:22')
(16, 'Sofia Brito', 'umendonca@example.com', '10-08-1945', '2025-09-26 01:57:22')
(17, 'Dra. Cecília Garcia', 'vianamaria-cecilia@example.com', '11-07-1956', '2025-09-26 01:57:22')
(18, 'Luara Cirino', 'garciaandre@example.com', '30-03-1979', '2025-09-26 01:57:22')
(19, 'Sra. Sophie da Rosa', 'amandaduarte@example.org', '31-05-1984', '2025-09-26 01:57:22')
(20, 'Jade Pires', 'joao-lucassantos@example.org', '12-12-1947', '2025-09-26 01:57:22')
(21, 'Joana Ramos', 'valentimrodrigues@example.org', '05-12-1976', '2025-09-26 01:57:22')
(22, 'Sra. Lorena Moraes', 'manuellamachado@example.net', '30-09-1965', '2025-09-26 01:57:22')
(23, 'Manuela Carvalho', 'nmoraes@example.com', '02-04-1967', '2025-09-26 01:57:22')
(24, 'Marina Gonçalves', 'uaraujo@example.net', '16-05-1959', '2025-09-26 01:57:22')
(25, 'Daniela Gomes', 'borgesluiz-otavio@example.org', '14-10-1963', '2025-09-26 01:57:22')
(26, 'Luara Guerra', 'sda-rocha@example.net', '03-04-1991', '2025-09-26 01:57:22')
(27, 'Maria Luiza Montenegro', 'anthony-gabrielpeixoto@example.com', '31-10-1987', '2025-09-26 01:57:22')
(28, 'Ana Sophia da Cruz', 'maiteduarte@example.org', '21-02-1980', '2025-09-26 01:57:22')
(29, 'Melissa Jesus', 'abreuesther@example.com', '26-05-1996', '2025-09-26 01:57:22')
(30, 'Clara Costela', 'kcasa-grande@example.com', '26-05-1988', '2025-09-26 01:57:22')
(31, 'Luísa Caldeira', 'juliasa@example.com', '27-12-1991', '2025-09-26 01:57:22')
(32, 'Sra. Allana Machado', 'vicentesilva@example.net', '08-07-1954', '2025-09-26 01:57:22')
(33, 'Maria Laura Costa', 'da-luzvinicius@example.com', '19-01-1945', '2025-09-26 01:57:22')
(34, 'Ana Pimenta', 'emanuellyramos@example.net', '24-07-1946', '2025-09-26 01:57:22')
(35, 'Dra. Joana Casa Grande', 'rrocha@example.com', '12-05-1989', '2025-09-26 01:57:22')
(36, 'Bella Rodrigues', 'zcastro@example.net', '21-05-2007', '2025-09-26 01:57:22')
(37, 'Brenda da Luz', 'salesolivia@example.com', '28-11-2006', '2025-09-26 01:57:22')
(38, 'Maria Aparecida', 'da-motaisis@example.com', '01-09-1949', '2025-09-26 01:57:22')
(39, 'Srta. Olivia Fernandes', 'fviana@example.org', '10-03-1953', '2025-09-26 01:57:22')
(40, 'Olivia Costela', 'mouranatalia@example.org', '05-11-1961', '2025-09-26 01:57:22')
(41, 'Gabriela Rocha', 'vitoriasouza@example.com', '03-06-2002', '2025-09-26 01:57:22')
(42, 'Maria Luiza Freitas', 'benicio04@example.net', '30-12-1948', '2025-09-26 01:57:22')
(43, 'Sra. Maitê Costa', 'juliana42@example.org', '02-10-1967', '2025-09-26 01:57:22')
(44, 'Luísa Lopes', 'moreiracecilia@example.net', '02-06-1969', '2025-09-26 01:57:22')
(45, 'Emanuella Mendonça', 'caua57@example.net', '09-02-1971', '2025-09-26 01:57:22')
(46, 'Sabrina Jesus', 'antony01@example.net', '26-03-1997', '2025-09-26 01:57:22')
(47, 'Yasmin Guerra', 'theocostela@example.com', '17-09-1960', '2025-09-26 01:57:22')
(48, 'Beatriz Moura', 'vbarros@example.com', '13-10-1997', '2025-09-26 01:57:22')
(49, 'Dra. Helena Correia', 'erick75@example.net', '17-03-2002', '2025-09-26 01:57:22')
(50, 'Bella Nogueira', 'cardosofernanda@example.net', '27-07-2002', '2025-09-26 01:57:22')
(51, 'Maya Guerra', 'giovannabarros@example.com', '21-04-1957', '2025-09-26 01:57:22')
(52, 'Maria Fernanda Camargo', 'smoreira@example.org', '03-02-2001', '2025-09-26 01:57:22')
(53, 'Maria Cecília Casa Grande', 'baragao@example.net', '09-09-1980', '2025-09-26 01:57:22')
(54, 'Bárbara Brito', 'kmarques@example.net', '04-06-1970', '2025-09-26 01:57:22')
(55, 'Dra. Lívia Cavalcanti', 'vasconcelosigor@example.org', '25-05-1999', '2025-09-26 01:57:22')

In [52]:
for row in cur.execute("SELECT * FROM alunas WHERE nome = 'Sra. Lavínia Costela' OR id = 8"):
  print("Registros a ser atualizados: ", row)

atualizar_dados = [
    ("nome", "Lavínia", "nome = 'Sra. Lavínia Costela'"),
    ("data_nascimento", "24-05-1994", "id = 8")
]

atualizacao_lote(atualizar_dados)
print("ATUALIZANDO...")

for row in cur.execute("SELECT * FROM alunas WHERE nome = 'Lavínia' OR id = 8"):
  print("Registros a ser atualizados: ", row)

Registros a ser atualizados:  (4, 'Sra. Lavínia Costela', 'hgomes@example.net', '13-12-1964', '2025-09-26 01:57:22')
Registros a ser atualizados:  (8, 'Gabriela da Mata', 'fernando13@example.com', '10-12-1972', '2025-09-26 01:57:22')
ATUALIZANDO...
Registros a ser atualizados:  (4, 'Lavínia', 'hgomes@example.net', '13-12-1964', '2025-09-26 01:57:22')
Registros a ser atualizados:  (8, 'Gabriela da Mata', 'fernando13@example.com', '24-05-1994', '2025-09-26 01:57:22')

### 5. Remover registros

* Excluir pelo menos uma aluna da tabela utilizando DELETE.

* Excluir todas as alunas que tenham data de nascimento anterior a 1990.

In [57]:
def deletar_registro(deletar_dados):
  for condicao in deletar_dados:
    cur.execute(f"DELETE FROM alunas WHERE {condicao}")
    print(f"Quantidade de resgistros excluidos: ", cur.rowcount)
  con.commit()

In [58]:
for row in cur.execute("SELECT * FROM alunas WHERE id = 55 OR id = 54 OR substr(data_nascimento, 7, 4) < '1990' "):
  print("Dados a serem deletados: ", row)

deletar_dados = [
    "id", 55,
    "id", 54,
    "substr(data_nascimento, 7, 4) < '1990'"
]

deletar_registro(deletar_dados)

for row in cur.execute("SELECT * FROM alunas WHERE id = 55 OR id = 54 OR substr(data_nascimento, 7, 4) < '1990' "):
  print("Dados a serem deletados: ", row)

Dados a serem deletados:  (1, 'Isabella Teixeira', 'pretalab@edu.com.br', '10-12-1959', '2025-09-26 01:57:22')
Dados a serem deletados:  (4, 'Lavínia', 'hgomes@example.net', '13-12-1964', '2025-09-26 01:57:22')
Dados a serem deletados:  (6, 'Stella Viana', 'stella@gmail.com', '21-09-1948', '2025-09-26 01:57:22')
Dados a serem deletados:  (7, 'Ágatha Aparecida', 'luigijesus@example.net', '18-02-1973', '2025-09-26 01:57:22')
Dados a serem deletados:  (9, 'Luiza Cassiano', 'ealves@example.net', '18-11-1949', '2025-09-26 01:57:22')
Dados a serem deletados:  (10, 'Stephany Vieira', 'stephany26@example.org', '11-08-1946', '2025-09-26 01:57:22')
Dados a serem deletados:  (13, 'Marina Macedo', 'joao-guilherme51@example.com', '19-11-1945', '2025-09-26 01:57:22')
Dados a serem deletados:  (14, 'Bárbara Duarte', 'zabreu@example.com', '15-04-1951', '2025-09-26 01:57:22')
Dados a serem deletados:  (15, 'Sra. Maria Luiza Barbosa', 'oaparecida@example.net', '13-11-1972', '2025-09-26 01:57:22')
Dados a serem deletados:  (16, 'Sofia Brito', 'umendonca@example.com', '10-08-1945', '2025-09-26 01:57:22')
Dados a serem deletados:  (17, 'Dra. Cecília Garcia', 'vianamaria-cecilia@example.com', '11-07-1956', '2025-09-26 01:57:22')
Dados a serem deletados:  (18, 'Luara Cirino', 'garciaandre@example.com', '30-03-1979', '2025-09-26 01:57:22')
Dados a serem deletados:  (19, 'Sra. Sophie da Rosa', 'amandaduarte@example.org', '31-05-1984', '2025-09-26 01:57:22')
Dados a serem deletados:  (20, 'Jade Pires', 'joao-lucassantos@example.org', '12-12-1947', '2025-09-26 01:57:22')
Dados a serem deletados:  (21, 'Joana Ramos', 'valentimrodrigues@example.org', '05-12-1976', '2025-09-26 01:57:22')
Dados a serem deletados:  (22, 'Sra. Lorena Moraes', 'manuellamachado@example.net', '30-09-1965', '2025-09-26 01:57:22')
Dados a serem deletados:  (23, 'Manuela Carvalho', 'nmoraes@example.com', '02-04-1967', '2025-09-26 01:57:22')
Dados a serem deletados:  (24, 'Marina Gonçalves', 'uaraujo@example.net', '16-05-1959', '2025-09-26 01:57:22')
Dados a serem deletados:  (25, 'Daniela Gomes', 'borgesluiz-otavio@example.org', '14-10-1963', '2025-09-26 01:57:22')
Dados a serem deletados:  (27, 'Maria Luiza Montenegro', 'anthony-gabrielpeixoto@example.com', '31-10-1987', '2025-09-26 01:57:22')
Dados a serem deletados:  (28, 'Ana Sophia da Cruz', 'maiteduarte@example.org', '21-02-1980', '2025-09-26 01:57:22')
Dados a serem deletados:  (30, 'Clara Costela', 'kcasa-grande@example.com', '26-05-1988', '2025-09-26 01:57:22')
Dados a serem deletados:  (32, 'Sra. Allana Machado', 'vicentesilva@example.net', '08-07-1954', '2025-09-26 01:57:22')
Dados a serem deletados:  (33, 'Maria Laura Costa', 'da-luzvinicius@example.com', '19-01-1945', '2025-09-26 01:57:22')
Dados a serem deletados:  (34, 'Ana Pimenta', 'emanuellyramos@example.net', '24-07-1946', '2025-09-26 01:57:22')
Dados a serem deletados:  (35, 'Dra. Joana Casa Grande', 'rrocha@example.com', '12-05-1989', '2025-09-26 01:57:22')
Dados a serem deletados:  (38, 'Maria Aparecida', 'da-motaisis@example.com', '01-09-1949', '2025-09-26 01:57:22')
Dados a serem deletados:  (39, 'Srta. Olivia Fernandes', 'fviana@example.org', '10-03-1953', '2025-09-26 01:57:22')
Dados a serem deletados:  (40, 'Olivia Costela', 'mouranatalia@example.org', '05-11-1961', '2025-09-26 01:57:22')
Dados a serem deletados:  (42, 'Maria Luiza Freitas', 'benicio04@example.net', '30-12-1948', '2025-09-26 01:57:22')
Dados a serem deletados:  (43, 'Sra. Maitê Costa', 'juliana42@example.org', '02-10-1967', '2025-09-26 01:57:22')
Dados a serem deletados:  (44, 'Luísa Lopes', 'moreiracecilia@example.net', '02-06-1969', '2025-09-26 01:57:22')
Dados a serem deletados:  (45, 'Emanuella Mendonça', 'caua57@example.net', '09-02-1971', '2025-09-26 01:57:22')
Dados a serem deletados:  (47, 'Yasmin Guerra', 'theocostela@example.com', '17-09-1960', '2025-09-26 01:57:22')
Dados a serem deletados:  (51, 'Maya Guerra', 'giovannabarros@example.com', '21-04-1957', '2025-09-26 01:57:22')
Dados a serem deletados:  (53, 'Maria Cecília Casa Grande', 'baragao@example.net', '09-09-1980', '2025-09-26 01:57:22')
Dados a serem deletados:  (54, 'Bárbara Brito', 'kmarques@example.net', '04-06-1970', '2025-09-26 01:57:22')
Dados a serem deletados:  (55, 'Dra. Lívia Cavalcanti', 'vasconcelosigor@example.org', '25-05-1999', '2025-09-26 01:57:22')
Quantidade de resgistros excluidos:  55
Quantidade de resgistros excluidos:  0
Quantidade de resgistros excluidos:  0
Quantidade de resgistros excluidos:  0
Quantidade de resgistros excluidos:  0